.button {
	height: 60px;
	display: grid;
	place-items: center;

	color: #728ab7;
	font-size: 28px;

	border-radius: 16px;
	border: none;
	background: #f0f0f3;
	box-shadow: 10px 10px 24px 0px rgba(174, 174, 192, 0.2),
		-10px -10px 24px 0px rgba(255, 255, 255, 0.6);

	transition: 0.1s ease-in-out;
}

.button:hover {
	cursor: pointer;
	transform: scale(0.95);
}

.button:active {
	background: #ececf1;
}

/*
  FIXME: медиа стили перестали работать
*/

@media (width > 1024px) {
	.button {
		font-size: 32px;
		height: 70px;
	}
}
