.calculator {
	width: 335px;
}

.actionsContainer {
  display: flex;
  position: relative;
  top: -19px;

  padding-top: 40px;
  padding-bottom: 27px;
  padding-left: 22px;

  border-radius: 12px 12px 0px 0px;
  background: #f0f0f3;
}

.displayCenter {
  display: flex;
}

